@import "@/styles/theme.scss";

@mixin block {
  &:not(:last-child) {
    margin-bottom: spacing(0.5);
  }
}

.root {
  -x: 0;
}

.picture {
  @include block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  background-color: #00000015;
  border-radius: $border-radius;
  overflow: hidden;

  .pictureFrame {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
}

.title {
  @include block;
  font-size: $font-size-body-2;
  @include multilines(2);

  .brandName {
    margin-right: spacing(0.5);
    font-weight: 600;
  }
}

.priceTag {
  @include block;
  font-size: $font-size-body-2;
  font-weight: 500;

  .discount {
    margin-right: spacing(0.5);
    color: $color-secondary-main;
  }
}

.badges {
  @include block;
  font-size: $font-size-caption;

  span {
    display: inline-block;
    padding: spacing(0.5);
    background-color: $color-bg-2;
    border-radius: $border-radius-small;
  }
  span:not(:last-child) {
    margin-right: spacing(0.5);
  }
}

.reaction {
  @include block;
  color: $color-text-3;
  font-size: $font-size-body-3;

  span:not(:last-child) {
    margin-right: spacing(0.5);
  }
}
