@import "@/styles/theme.scss";

.root {
  display: flex;
}

.wrapper {
  position: relative;
  flex-grow: 1;
}

.label {
  display: block;
  padding: spacing(1.5);
  color: $color-text-3;
  font-size: $font-size-body-1;
  text-align: center;
  text-decoration: none;
}

.labelSelected {
  color: $color-text-1;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $color-border-1;
}

.indecatorSelected {
  background-color: $color-text-1;
}
