@import "@/styles/theme.scss";

.root {
  position: relative;
  color: $color-text-3;
}

.rootSelected {
  -x: "";
}

.button {
  padding: spacing(1);
  border: none;
  background-color: unset;
  font-size: $font-size-body-1;
  color: inherit;
  cursor: pointer;
}

.buttonSelected {
  color: $color-text-1;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: $color-border-1;
}

.indecatorSelected {
  background-color: $color-text-1;
}
